<section class="dark:bg-gray-700 bg-white py-16">
    <div class="container mx-auto px-4">
      <div class="border-blue-600 border-l-4 pl-5">
        <h2 class="text-2xl font-semibold text-black dark:text-white mb-2">
          Productos
        </h2>
        <p class="text-sm font-medium text-black dark:text-gray-400">
          Ingreso de Productos
        </p>
      </div>

      <div class="mt-6 flex flex-wrap -mx-4">
        <!-- Input para buscar por nombre -->
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
          <label for="nombre-producto" class="block text-base font-medium text-black dark:text-white mb-2">
            Nombre Producto
          </label>
          <input
            type="text"
            id="nombre-producto"
            placeholder="Nombre del producto"
            [(ngModel)]="nombre"
            (keyup.enter)="buscarProductoPorNombre()"
            class="w-full bg-transparent rounded-md border border-gray-300 dark:border-gray-600 py-2 px-4 text-black dark:text-white outline-none transition focus:border-black dark:focus:border-white"
            autocomplete="off">
        </div>

        <!-- Input para buscar por código de barras -->
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
          <label for="codigo-barras" class="block text-base font-medium text-black dark:text-white mb-2">
            Código de Barras
          </label>
          <input
            type="text"
            id="codigo-barras"
            placeholder="Código de barras"
            [(ngModel)]="barra"
            (keyup.enter)="buscarProductoPorCodigo()"
            class="w-full bg-transparent rounded-md border border-gray-300 dark:border-gray-600 py-2 px-4 text-black dark:text-white outline-none transition focus:border-black dark:focus:border-white"
            autocomplete="off">
        </div>
      </div>

      @if(producto) {
         <!-- Mostrar información del producto -->
         <div class="mt-6">
            <p class="text-lg text-black dark:text-white">Nombre: {{ producto.costo }}</p>
            <p class="text-lg text-black dark:text-white">Descripción: {{ producto.descripcion }}</p>
            <p class="text-lg text-black dark:text-white">Código de Barras: {{ producto.descripcion }}</p>
            <p class="text-lg text-black dark:text-white">Precio: {{ producto.costo }}</p>
          </div>

          <!-- Input para cantidad -->
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
            <label for="cantidad" class="block text-base font-medium text-black dark:text-white mb-2">
              Cantidad
            </label>
            <input
              type="number"
              id="cantidad"
              placeholder="Cantidad"
              [(ngModel)]="cantidad"
              class="w-full bg-transparent rounded-md border border-gray-300 dark:border-gray-600 py-2 px-4 text-black dark:text-white outline-none transition focus:border-black dark:focus:border-white"
              autocomplete="off"
             >
          </div>

          <!-- Input para proveedor -->
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
        <label for="proveedor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Proveedores</label>
        <select
          id="proveedor"
          name="proveedor"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        >
          @for (proveedor of listaProveedores; track proveedor.id){
            <option [ngValue]="proveedor">{{proveedor.nombre}}</option>
          }
        </select>
      </div>

          <button (click)="agregarProducto()" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-md">
            Agregar Producto
          </button>
      }

      <!-- Modal para agregar nuevo producto -->
      @if (mostrarModal){
        <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
          <div class="bg-white p-8 rounded-md dark:bg-gray-700">
            <h3 class="text-xl mb-4 text-black dark:text-white">Agregar Nuevo Producto</h3>
            <!-- Aquí puedes agregar el formulario para agregar un nuevo producto -->
            <div class="grid gap-4 mb-4 grid-cols-2">
              <div class="col-span-2">
                <label for="barra" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Barra</label>
                <input
                  type="text"
                  name="barra"
                  id="barra"
                  title="Barra"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Ingrese la barra del producto"
                  autocomplete="off"
                >
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
                <input
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  title="Descripcion"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Agrege la descripcion o nombre del Producto"
                  autocomplete="off"
                >
              </div>
              <div class="col-span-2 sm:col-span-1">
                <label for="precio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
                <input
                  type="number"
                  name="precio"
                  id="precio"
                  title="precio"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="0.00"
                  autocomplete="off"
                >
              </div>
            </div>
            <button (click)="cerrarModal()" class="text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
              </svg>
            </button>
            <button type="button" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M15.026 21.534A9.994 9.994 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2c2.51 0 4.802.924 6.558 2.45l-7.635 7.636L7.707 8.87a1 1 0 0 0-1.414 1.414l3.923 3.923a1 1 0 0 0 1.414 0l8.3-8.3A9.956 9.956 0 0 1 22 12a9.994 9.994 0 0 1-.466 3.026A2.49 2.49 0 0 0 20 14.5h-.5V14a2.5 2.5 0 0 0-5 0v.5H14a2.5 2.5 0 0 0 0 5h.5v.5c0 .578.196 1.11.526 1.534Z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      }
    </div>
  @if (modalConfirmacion){
    <app-modal-confirmacion-yn
      [titulo]="titulo"
      (modalCerrado)="respuestaConfirmacion($event)"
    >
    </app-modal-confirmacion-yn>
  }
</section>


