<section class="px-10 py-10">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-8">

    @if (cargaTarjeta) {
      <app-tarjetas
        [titulo]="'Ventas totales '"
        [valor]="totales"
        aLink='Ver Comprobantes'
        [svgIcon]="svgDinero"
        [routerLink]="routerLinkComprobnates">
      </app-tarjetas>

      <app-tarjetas
        [titulo]="'Usuarios '"
        [valor]="totalUsuarios"
        aLink='Ver Comprobantes'
        [svgIcon]="svgUsuario"
        [routerLink]="routerLinkUsuarios">
      </app-tarjetas>

      <app-tarjetas
        [titulo]="'Productos '"
        [valor]="totalProductos"
        aLink='Ver Comprobantes'
        [svgIcon]="svgComprobante"
        [routerLink]="routerLinkProductos">
      </app-tarjetas>

      <app-tarjetas
        [titulo]="'Clientes '"
        [valor]="totalClientes"
        aLink='Ver Comprobantes'
        [svgIcon]="svgCliente"
        [routerLink]="routerLinkClientes">
      </app-tarjetas>

      <app-tarjetas
        [titulo]="'Proveedores '"
        [valor]="totalProveedores"
        aLink='Ver Comprobantes'
        [svgIcon]="svgProveedor"
        [routerLink]="routerLinkProveedores">
      </app-tarjetas>
    }

  </div>
</section>
