<section class="dark:bg-gray-700 bg-white py-16 relative">

  @if (ingresaqrProductos){
    <div class="container mx-auto px-4">
      <!-- Flecha de regreso -->
      <button (click)="ingresaqrProductos=false" class="absolute top-4 left-4 text-gray-600 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400 transition duration-150 ease-in-out focus:outline-none">
        <!-- Icono de flecha de regreso (SVG) -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 12H5"></path>
          <path d="M12 19l-7-7 7-7"></path>
        </svg>
      </button>

      <div class="border-blue-600 border-l-4 pl-5 mb-8 text-center">
        <h2 class="text-2xl font-semibold text-black dark:text-white mb-2">
          Productos
        </h2>
        <p class="text-sm font-medium text-black dark:text-gray-400">
          Ingreso de Productos
        </p>
      </div>

      <div class="flex justify-center">
        <!-- Input para buscar por nombre -->
        <div class="w-full md:w-1/3 px-4 mb-6">
          <label for="nombre-producto" class="block text-base font-medium text-black dark:text-white mb-2">
            Nombre o Barra del Producto
          </label>
          <input
            type="text"
            id="nombre-producto"
            placeholder="Nombre del producto"
            [(ngModel)]="nombreOBarra"
            (keyup.enter)="buscarPorNombreOBarra()"
            class="w-full bg-transparent rounded-md border border-gray-300 dark:border-gray-600 py-2 px-4 text-black dark:text-white outline-none transition focus:border-blue-500 dark:focus:border-blue-300"
            autocomplete="off">
        </div>
      </div>

      @if (modalListaProductos){
        <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
          <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-4xl relative">
            <!-- Botón de cerrar -->
            <button
              class="absolute top-2 right-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200"
              (click)="modalListaProductos=false"
            >
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
            <!-- Contenido del modal -->
            <h3 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-gray-200">Lista Productos</h3>
            <div class="overflow-x-auto">
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="bg-gray-50 dark:bg-gray-600">
                <tr>
                  <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Descripción</th>
                  <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Código</th>
                  <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">Opcion</th>
                </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                <!-- Iterar sobre los productos -->
                <tr *ngFor="let producto of listaProductos"
                    class="hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer dark:text-white">
                  <td class="py-2 px-4">{{producto.descripcion}}</td>
                  <td class="py-2 px-4 text-green-500 text-center">{{producto.barra}}</td>
                  <td class="py-2 px-4 text-green-500 text-center">
                    <button title="Detalles" (click)="agregarBodega(producto)"
                            class="btn btn-ghost btn-xs bg-transparent rounded-2xl px-4 py-0">
                      <svg class="w-6 h-6 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M15.026 21.534A9.994 9.994 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2c2.51 0 4.802.924 6.558 2.45l-7.635 7.636L7.707 8.87a1 1 0 0 0-1.414 1.414l3.923 3.923a1 1 0 0 0 1.414 0l8.3-8.3A9.956 9.956 0 0 1 22 12a9.994 9.994 0 0 1-.466 3.026A2.49 2.49 0 0 0 20 14.5h-.5V14a2.5 2.5 0 0 0-5 0v.5H14a2.5 2.5 0 0 0 0 5h.5v.5c0 .578.196 1.11.526 1.534Z" clip-rule="evenodd"/>
                      </svg>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }

      @if (addBodegaModal){
        <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
          <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-4xl relative">

            <button
              class="absolute top-2 right-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200"
              (click)="modalListaProductos=true; addBodegaModal=false"
            >
              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>

            <h3 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-gray-200">Agregar Bodega</h3>

            <div class="overflow-x-auto">

              <div class="mb-4">
                <label for="cantidadBodN" class="block text-base font-medium text-gray-900 dark:text-gray-200 mb-2">
                  Cantidad
                </label>
                <input
                  type="number"
                  id="cantidadBodN"
                  placeholder="0"
                  [(ngModel)]="cantidad"
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                  autocomplete="off"
                  step="1"
                  min="0"
                >
              </div>

              <div class="col-span-1">
                <label for="bodegaNew" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Bodegas</label>
                <select
                  id="bodegaNew"
                  name="bodegaSelect"
                  [(ngModel)]="bodega"
                  required
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                >
                  @for (bodega of listaBodegas; track bodega.id){
                    <option [ngValue]="bodega">{{bodega.nombre}}</option>
                  }
                </select>
              </div>

              <div class="col-span-1">
                <label for="proveedores" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Proveedores</label>
                <select
                  id="proveedores"
                  name="proveedor"
                  [(ngModel)]="proveedor"
                  required
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                >
                  @for (proveedor of listaProveedores; track proveedor.id){
                    <option [ngValue]="proveedor">{{proveedor.nombre}}</option>
                  }
                </select>
              </div>

              <div class="flex gap-4">
                <button
                  (click)="addInventario()"
                  [disabled]="bloqueado"
                  type="button"
                  class="inline-flex items-center bg-blue-600 text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-400">
                  @if (bloqueado){
                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                    </svg>
                    Cargando..
                  } @else {
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M15.026 21.534A9.994 9.994 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2c2.51 0 4.802.924 6.558 2.45l-7.635 7.636L7.707 8.87a1 1 0 0 0-1.414 1.414l3.923 3.923a1 1 0 0 0 1.414 0l8.3-8.3A9.956 9.956 0 0 1 22 12a9.994 9.994 0 0 1-.466 3.026A2.49 2.49 0 0 0 20 14.5h-.5V14a2.5 2.5 0 0 0-5 0v.5H14a2.5 2.5 0 0 0 0 5h.5v.5c0 .578.196 1.11.526 1.534Z" clip-rule="evenodd"/>
                    </svg>
                    Guardar
                  }
                </button>
              </div>

            </div>

          </div>
        </div>
      }


      <!-- Modal para agregar nuevo producto -->
      @if (mostrarModal){
        <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
          <div class="bg-white p-8 rounded-lg shadow-lg dark:bg-gray-800 w-full max-w-4xl">
            <h3 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-gray-100">Agregar Nuevo Producto</h3>
            <!-- Formulario para agregar un nuevo producto -->
            <div class="grid gap-6 mb-6 grid-cols-1 md:grid-cols-2">
              <div>
                <label for="barra" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Barra</label>
                <input
                  type="text"
                  name="barra"
                  id="barra"
                  [(ngModel)]="barraNueva"
                  title="Barra"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Ingrese la barra del producto"
                  autocomplete="off"
                >
              </div>
              <div>
                <label for="descripcion" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Descripción</label>
                <input
                  type="text"
                  name="descripcion"
                  id="descripcion"
                  [(ngModel)]="descripcionNueva"
                  title="Descripción"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Agregue la descripción o nombre del producto"
                  autocomplete="off"
                >
              </div>
              <div class="col-span-1">
                <label for="costo" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Costo</label>
                <input
                  type="number"
                  id="costo"
                  placeholder="0.00"
                  [(ngModel)]="costo"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  autocomplete="off"
                  step="0.01"
                  min="0"
                >
              </div>

              <div class="col-span-1">
                <label for="precio1" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Precio 1</label>
                <input
                  type="number"
                  id="precio1"
                  placeholder="0.00"
                  [(ngModel)]="precio1"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  autocomplete="off"
                  step="0.01"
                  min="0"
                >
              </div>

              <div class="col-span-1">
                <label for="precio2" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Precio 2</label>
                <input
                  type="number"
                  id="precio2"
                  placeholder="0.00"
                  [(ngModel)]="precio2"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  autocomplete="off"
                  step="0.01"
                  min="0"
                >
              </div>

              <div class="col-span-1">
                <label for="precio3" class="block text-sm font-medium text-gray-900 dark:text-gray-200 mb-2">Precio 3</label>
                <input
                  type="number"
                  id="precio3"
                  placeholder="0.00"
                  [(ngModel)]="precio3"
                  class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  autocomplete="off"
                  step="0.01"
                  min="0"
                >
              </div>
              <div class="mb-4">
                <label for="cantidadProdN" class="block text-base font-medium text-gray-900 dark:text-gray-200 mb-2">
                  Cantidad
                </label>
                <input
                  type="number"
                  id="cantidadProdN"
                  placeholder="0"
                  [(ngModel)]="cantidad"
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                  autocomplete="off"
                  step="1"
                  min="0"
                >
              </div>
              <!-- Input para proveedor -->
              <div class="col-span-1">
                <label for="proveedor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Proveedores</label>
                <select
                  id="proveedor"
                  name="proveedor"
                  [(ngModel)]="proveedor"
                  required
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                >
                  @for (proveedor of listaProveedores; track proveedor.id){
                    <option [ngValue]="proveedor">{{proveedor.nombre}}</option>
                  }
                </select>
              </div>
              <div class="col-span-1">
                <label for="bodegaSelect" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200">Bodegas</label>
                <select
                  id="bodegaSelect"
                  name="bodegaSelect"
                  [(ngModel)]="bodega"
                  required
                  class="w-full bg-gray-100 border border-gray-300 rounded-lg py-2 px-4 text-gray-900 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                >
                  @for (bodega of listaBodegas; track bodega.id){
                    <option [ngValue]="bodega">{{bodega.nombre}}</option>
                  }
                </select>
              </div>
            </div>
            <div class="flex gap-4">
              <button
                (click)="cerrarModal()"
                class="inline-flex items-center bg-red-600 text-white hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-400">
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                  </svg>
                  Cancelar
              </button>
              <button
                (click)="guardarProducto()"
                [disabled]="bloqueado"
                type="button"
                class="inline-flex items-center bg-blue-600 text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-400">
                @if (bloqueado){
                  <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                  </svg>
                  Cargando..
                } @else {
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M15.026 21.534A9.994 9.994 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2c2.51 0 4.802.924 6.558 2.45l-7.635 7.636L7.707 8.87a1 1 0 0 0-1.414 1.414l3.923 3.923a1 1 0 0 0 1.414 0l8.3-8.3A9.956 9.956 0 0 1 22 12a9.994 9.994 0 0 1-.466 3.026A2.49 2.49 0 0 0 20 14.5h-.5V14a2.5 2.5 0 0 0-5 0v.5H14a2.5 2.5 0 0 0 0 5h.5v.5c0 .578.196 1.11.526 1.534Z" clip-rule="evenodd"/>
                </svg>
                Guardar
                }
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <section>

      <span></span>
      <div class="container mx-auto px-4">
        <!-- Flecha de regreso -->
        <div class="border-blue-600 border-l-4 pl-5 mb-8">
          <h2 class="text-2xl font-semibold text-black dark:text-white mb-2">
            Productos
          </h2>
          <p class="text-sm font-medium text-black dark:text-gray-400">
            Lista de Productos
          </p>
        </div>
      </div>
      <section class="p-4 px-4 py-4">
        <div class="card card-actions">
          <div class="card-body">
            <button data-modal-target="new-usuario-modal" data-modal-toggle="new-usuario-modal" type="button" (click)="ingresaqrProductos=true"
                    class="bg-sky-600 hover:bg-sky-500 text-white py-2 px-4 rounded flex items-center space-x-2">
              <span class="text-base">AgregarProducto</span>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
      <section>
        <div class="px-4 py-4 card card-compact">
          <div class="card-body grid grid-cols-3 gap-3 lg:grid-cols-4 lg:gap-8">
            <form>
              <label for="productStr" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prodcuto:</label>
              <input
                type="text"
                id="productStr"
                name="Producto"
                [(ngModel)]="productStr"
                (input)="searchProdcutoBynombre()"
                placeholder="Producto"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 dark:border-gray-600 dark:placeholder:-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </form>
          </div>
        </div>
      </section>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-700 bg-white rounded-lg shadow-md">
          <thead class="text-xs text-gray-600 uppercase bg-gray-100">
          <tr>
            <th scope="col" class="px-4 py-2">Producto</th>
            <th scope="col" class="px-4 py-2">Barra</th>
            <th scope="col" class="px-4 py-2">Stock</th>
            <th scope="col" class="px-4 py-2">Almacen</th>
            <th scope="col" class="px-2 py-2">Editar</th>
            <th scope="col" class="px-2 py-2">Agregar Stock</th>
            <th scope="col" class="px-2 py-2">Reducir Stock</th>
            <th scope="col" class="px-2 py-2">Eliminar Inventario</th>
          </tr>
          </thead>
          <tbody>
            @for (producto of listaProductoBod; track $index) {
              <tr class="bg-gray-50 hover:bg-gray-100">
                <td class="px-4 py-2">{{producto.producto.descripcion || 'SN'}}</td>
                <td class="px-4 py-2">{{producto.producto.barra || 'SN'}}</td>
                <td class="px-4 py-2">{{producto.stock || '0'}}</td>
                <td class="px-4 py-2">{{producto.bodega.nombre || 'SN'}}</td>
                <td class="px-2 py-2 text-center">
                  <button title="Editar" (click)="editarProducto(producto.producto)"
                          class="text-blue-600 hover:text-blue-800 focus:outline-none">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z"/>
                    </svg>
                  </button>
                </td>
                <td class="px-2 py-2 text-center">
                  <button title="Agregar" (click)="productoEscogido(producto.producto,producto.bodega); modo='agregar'"
                          class="text-indigo-600 hover:text-indigo-800 focus:outline-none">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M18 14a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2v-2Z"/>
                    </svg>
                  </button>
                </td>
                <td class="px-2 py-2 text-center">
                  <button title="Reducir" (click)="productoEscogido(producto.producto,producto.bodega); modo='quitar'"
                          class="text-orange-500 hover:text-orange-700 focus:outline-none">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm5.757-1a1 1 0 1 0 0 2h8.486a1 1 0 1 0 0-2H7.757Z"/>
                    </svg>
                  </button>
                </td>
                <td class="px-2 py-2 text-center">
                  <button title="Eliminar" (click)="eliminarInventario(producto.id)"
                          class="text-red-600 hover:text-red-800 focus:outline-none">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                      <path d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>

      </div>
    </section>
  }

  @if(modalProductoSelct) {
    <!-- Mostrar información del producto -->
    <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
      <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-4xl relative">
        <button
          class="absolute top-2 right-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200"
          (click)="cerrarProductoSelct()"
        >
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
        @if (productoSelected && bodegaSelected){
          <div class="mt-8 p-6 rounded-lg shadow-lg bg-gray-50 dark:bg-gray-800">
            <h3 class="text-lg font-semibold text-black dark:text-white mb-4">Información del Producto</h3>
            <p class="text-md text-gray-700 dark:text-gray-300 mb-2"><strong>Descripción:</strong> {{ productoSelected.descripcion }}</p>
            <p class="text-md text-gray-700 dark:text-gray-300 mb-2"><strong>Código de Barras:</strong> {{ productoSelected.descripcion }}</p>
            <p class="text-md text-gray-700 dark:text-gray-300 mb-4"><strong>Precio:</strong> {{ productoSelected.precio1 }}</p>
            <!-- Input para cantidad -->
            <div class="mb-4">
              <label for="cantidad" class="block text-base font-medium text-gray-700 dark:text-gray-200 mb-2">
                Cantidad
              </label>
              <input
                type="number"
                id="cantidad"
                placeholder=0
                [(ngModel)]="cantidad"
                class="w-full bg-white dark:bg-gray-900 rounded-md border border-gray-300 dark:border-gray-600 py-2 px-4 text-gray-900 dark:text-gray-100 outline-none transition focus:border-blue-500 dark:focus:border-blue-300"
                autocomplete="off"
                step="1"
                min="0"
              >
            </div>

            @if (modo=='agregar'){
              <button (click)="agregarStockProducto()" class="mt-4 w-full bg-blue-600 text-white py-2 px-4 rounded-md transition hover:bg-blue-700">
                Agregar Producto
              </button>
            } @else if (modo=='quitar'){
              <button (click)="reducirStock()" class="mt-4 w-full bg-blue-600 text-white py-2 px-4 rounded-md transition hover:bg-blue-700">
                Reducir Stock
              </button>
            }


          </div>
        }
      </div>
    </div>
  }

  @if (modalEditarProducto){
    <div id="new-usuario-modal" [class.hidden]="!modalEditarProducto" tabindex="-1" aria-hidden="true"
         class="fixed inset-0 flex items-center justify-center z-50">
      <div class="bg-white rounded-lg shadow-lg max-w-md w-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Editar Producto
            </h3>
            <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="new-usuario-modal" (click)="modalEditarProducto=false">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Cerrar</span>
            </button>
          </div>
          <form [formGroup]="productoForm" (ngSubmit)="editarProductoForm()" class="p-4 md:p-5">
            <div class="grid gap-4 mb-4 grid-cols-2">
              <div class="col-span-2">
                <label for="barraP" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Barra</label>
                <input
                  type="text"
                  name="barraP"
                  id="barraP"
                  formControlName="barraP"
                  title="barraP"
                  class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Barra"
                  autocomplete="off"
                  required="">
              </div>
            </div>
            <div class="col-span-2">
              <label for="descripcionP" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
              <input
                type="text"
                name="descripcionP"
                id="descripcionP"
                formControlName="descripcionP"
                title="CedulaRuc"
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Descripcion"
                autocomplete="off"
                required="">
            </div>
            <div class="col-span-2">
              <label for="costoP" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Costo</label>
              <input
                type="number"
                name="costoP"
                id="costoP"
                formControlName="costoP"
                title="CedulaRuc"
                class="uppercase bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="0.00"
                autocomplete="off"
                required="">
            </div>
            <div class="col-span-2">
              <label for="precioP1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio 1</label>
              <input
                type="number"
                name="precioP1"
                id="precioP1"
                formControlName="precioP1"
                title="Precio 1"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="0.00"
                autocomplete="off">
            </div>
            <div class="col-span-2">
              <label for="precioP2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio 2</label>
              <input
                type="number"
                name="precioP2"
                id="precioP2"
                formControlName="precioP2"
                title="Precio 2"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="0.00"
                autocomplete="off">
            </div>
            <div class="col-span-2">
              <label for="precioP3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio 3</label>
              <input
                type="number"
                name="precioP3"
                id="precioP3"
                formControlName="precioP3"
                title="Precio 3"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="0.00"
                autocomplete="off">
            </div>
            <button type="submit"
                    class="text-white inline-flex items-center bg-blue-300 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="w-6 h-6 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
              </svg>
              Editar
            </button>
          </form>
        </div>
        </div>
      </div>
  }

  @if (modalConfirmacion){
    <app-modal-confirmacion-yn
      [titulo]="titulo"
      (modalCerrado)="respuestaConfirmacion($event)"
    >
    </app-modal-confirmacion-yn>
  }

  @if (isLoading){
    <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
      <div role="status" class="flex flex-col items-center">
        <svg aria-hidden="true" class="inline w-16 h-16 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="text-white mt-2">Cargando...</span>
      </div>
    </div>
  }

</section>
